#pizzaPics2.hidden
  img#pizza2(src='pizza2.jpg', alt='picture of a pizza number 2.')
#top2.hidden
  h3#title OVERALL HOUSE PERFORMANCE:
  h4#top2pizzaCount TOTAL PIZZA CONSUMED: #{houseTotal}
  p#ovenTime.stats OVEN TIME: #{houseOvenTime} MINUTES
  p#moneySpent.stats COST OF PIZZA: $#{totalDollars}
  p#caloriesConsumed.stats CALORIES CONSUMED: #{totalCal} CAL
